.form {
  position: absolute;
  top: 48%;
  left: 50%;
  margin: -240px 0 0 -240px;
  width: 480px;
  height: 220px;
  padding: 36px;

  .title {
    color: #383838;
    position: relative;
    font-size: 25px;
  }

  .Box {
    background-color: rgba(220, 220, 220, .5);
    padding: 24px 48px 24px 48px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  }

  button {
    width: 100%;
  }

  p {
    color: rgb(204, 204, 204);
    text-align: center;
    margin-top: 16px;

    span {
      &:first-child {
        margin-right: 16px;
      }
    }
  }
}

.ant-spin-container,
.ant-spin-nested-loading {
  height: 100%;
}
